body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:0;
    padding:20px;
}

.container{
    width:80%;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

h1{
    text-align:center;
    color:#333;
}

.form{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}

input{
    padding:10px;
    font-size:16px;
}

button{
    padding:10px;
    background:green;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:darkgreen;
}

table{
    width:100%;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid #ccc;
}

th{
    background:#4CAF50;
    color:white;
}

th,td{
    padding:10px;
    text-align:center;
}

.edit{
    background:orange;
}

.delete{
    background:red;
    margin-left:5px;
}